In [1]:
import pandas as pd
import numpy as np

In [2]:
air = pd.read_csv('./data/Air_Traffic_Passenger_Statistics.csv')
air.set_index(['Operating Airline','Activity Period','Activity Type Code'],inplace=True)
air.sort_index()
air.head()

                                                     Operating Airline IATA Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
Air Canada        200507          Deplaned                                    AC
                                  Enplaned                                    AC

                                                     Published Airline  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                ATA Airlines
                                  Enplaned                ATA Airlines
                                  Thru / Transit          ATA Airlines
Air Canada        200507          Deplaned                  Air Canada
                                  Enplaned                  Air Canada

                                                     Published Airline IATA Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                                    TZ
                                  Enplaned                                    TZ
                                  Thru / Transit                              TZ
Air Canada        200507          Deplaned                                    AC
                                  Enplaned                                    AC

                                                        GEO Summary  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                 Domestic
                                  Enplaned                 Domestic
                                  Thru / Transit           Domestic
Air Canada        200507          Deplaned            International
                                  Enplaned            International

                                                     GEO Region  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                   US
                                  Enplaned                   US
                                  Thru / Transit             US
Air Canada        200507          Deplaned               Canada
                                  Enplaned               Canada

                                                     Price Category Code  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                      Low Fare
                                  Enplaned                      Low Fare
                                  Thru / Transit                Low Fare
Air Canada        200507          Deplaned                         Other
                                  Enplaned                         Other

                                                        Terminal  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned            Terminal 1
                                  Enplaned            Terminal 1
                                  Thru / Transit      Terminal 1
Air Canada        200507          Deplaned            Terminal 1
                                  Enplaned            Terminal 1

                                                     Boarding Area  \
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                       B
                                  Enplaned                       B
                                  Thru / Transit                 B
Air Canada        200507          Deplaned                       B
                                  Enplaned                       B

                                                      Passenger Count
Operating Airline Activity Period Activity Type Code
ATA Airlines      200507          Deplaned                      27271
                                  Enplaned                      29131
                                  Thru / Transit                 5415
Air Canada        200507          Deplaned                      35156
                                  Enplaned                      34090

In [4]:
air.loc[('Air France',200507,'Enplaned')]

C:\Users\mykas\AppData\Local\Temp\ipykernel_7276\2380847353.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  air.loc[('Air France',200507,'Enplaned')]

,,,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Operating Airline,Activity Period,Activity Type Code,,,,,,,,,
Air France,200507,Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638

In [5]:
air.loc[('Air France',200507)]

C:\Users\mykas\AppData\Local\Temp\ipykernel_7276\3353427613.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  air.loc[('Air France',200507)]

,Operating Airline IATA Code,Published Airline,Published Airline IATA Code,GEO Summary,GEO Region,Price Category Code,Terminal,Boarding Area,Passenger Count
Activity Type Code,,,,,,,,,
Deplaned,AF,Air France,AF,International,Europe,Other,International,A,12050
Enplaned,AF,Air France,AF,International,Europe,Other,International,A,11638

In [6]:
air.loc['Air France'].head()

                                   Operating Airline IATA Code  \
Activity Period Activity Type Code
200507          Deplaned                                    AF
                Enplaned                                    AF
200508          Deplaned                                    AF
                Enplaned                                    AF
200509          Deplaned                                    AF

                                   Published Airline  \
Activity Period Activity Type Code
200507          Deplaned                  Air France
                Enplaned                  Air France
200508          Deplaned                  Air France
                Enplaned                  Air France
200509          Deplaned                  Air France

                                   Published Airline IATA Code    GEO Summary  \
Activity Period Activity Type Code
200507          Deplaned                                    AF  International
                Enplaned                                    AF  International
200508          Deplaned                                    AF  International
                Enplaned                                    AF  International
200509          Deplaned                                    AF  International

                                   GEO Region Price Category Code  \
Activity Period Activity Type Code
200507          Deplaned               Europe               Other
                Enplaned               Europe               Other
200508          Deplaned               Europe               Other
                Enplaned               Europe               Other
200509          Deplaned               Europe               Other

                                         Terminal Boarding Area  \
Activity Period Activity Type Code
200507          Deplaned            International             A
                Enplaned            International             A
200508          Deplaned            International             A
                Enplaned            International             A
200509          Deplaned            International             A

                                    Passenger Count
Activity Period Activity Type Code
200507          Deplaned                      12050
                Enplaned                      11638
200508          Deplaned                      11230
                Enplaned                      11731
200509          Deplaned                      10731

In [7]:
air.loc[('Air France',200507,'Enplaned'),'Passenger Count']

C:\Users\mykas\AppData\Local\Temp\ipykernel_7276\1985149896.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  air.loc[('Air France',200507,'Enplaned'),'Passenger Count']

Operating Airline  Activity Period  Activity Type Code
Air France         200507           Enplaned              11638
Name: Passenger Count, dtype: int64

In [8]:
air.loc[('Air France',200507,'Deplaned'),'Passenger Count']

C:\Users\mykas\AppData\Local\Temp\ipykernel_7276\3485996219.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  air.loc[('Air France',200507,'Deplaned'),'Passenger Count']

Operating Airline  Activity Period  Activity Type Code
Air France         200507           Deplaned              12050
Name: Passenger Count, dtype: int64