In [2]:
import pandas as pd
import numpy as np
customer_names = pd.read_csv('./data/northwind-mongo-master/customers.csv',
                             usecols=['CustomerID','CompanyName'])
customer_cities = pd.read_csv('./data/northwind-mongo-master/customers.csv',
                              usecols=['CustomerID','City','Country'])

In [3]:
len(customer_cities)

91

In [4]:
len(customer_names)

91

In [16]:
customer_cities.set_index('CustomerID',inplace=True)

In [15]:
customer_names.set_index('CustomerID',inplace=True)

In [17]:
customer_names.join(customer_cities)

                                   CompanyName          City  Country
CustomerID
ALFKI                      Alfreds Futterkiste        Berlin  Germany
ANATR       Ana Trujillo Emparedados y helados  M?©xico D.F.   Mexico
ANTON                 Antonio Moreno Taquer?­a  M?©xico D.F.   Mexico
AROUT                          Around the Horn        London       UK
BERGS                      Berglunds snabbk?¶p        Lule??   Sweden
...                                        ...           ...      ...
WARTH                           Wartian Herkku          Oulu  Finland
WELLI                   Wellington Importadora       Resende   Brazil
WHITC                     White Clover Markets       Seattle      USA
WILMK                              Wilman Kala      Helsinki  Finland
WOLZA                           Wolski  Zajazd      Warszawa   Poland

[91 rows x 3 columns]

In [ ]:
len