In [3]:
import pandas as pd
import numpy as np

suppliers = pd.read_csv('./data/northwind-mongo-master/suppliers_del_1.csv',
                       usecols=['SupplierID','CompanyName','City'])
products = pd.read_csv('./data/northwind-mongo-master/products_del_1.csv',
                      usecols=['ProductID','ProductName','SupplierID'])

In [4]:
prod_and_sup = suppliers.merge(products,how='inner')
prod_and_sup.head()

,SupplierID,CompanyName,City,ProductID,ProductName
0,1,Exotic Liquids,London,1,Chai
1,1,Exotic Liquids,London,2,Chang
2,1,Exotic Liquids,London,3,Aniseed Syrup
3,2,New Orleans Cajun Delights,New Orleans,4,Chef Anton's Cajun Seasoning
4,2,New Orleans Cajun Delights,New Orleans,5,Chef Anton's Gumbo Mix

In [13]:
print('Suppliers length: ',len(suppliers),
     '\nProducts length: ',len(products),
     '\nInner Prod+Supp length: ',len(prod_and_sup))

Suppliers length:  27
Products length:  75
Inner Prod+Supp length:  70

In [20]:
prod_and_sup_outer = suppliers.merge(products,how='outer',indicator=True)
prod_and_sup_outer.head()

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
0,1,Exotic Liquids,London,1.0,Chai,both
1,1,Exotic Liquids,London,2.0,Chang,both
2,1,Exotic Liquids,London,3.0,Aniseed Syrup,both
3,2,New Orleans Cajun Delights,New Orleans,4.0,Chef Anton's Cajun Seasoning,both
4,2,New Orleans Cajun Delights,New Orleans,5.0,Chef Anton's Gumbo Mix,both

In [21]:
Prod_And_Supp_LeftOnly = prod_and_sup_outer['_merge'] =='left_only'
Prod_And_Supp_LeftOnly.head()

0    False
1    False
2    False
3    False
4    False
Name: _merge, dtype: bool

In [22]:
prod_and_sup_outer[Prod_And_Supp_LeftOnly]

    SupplierID         CompanyName      City  ProductID ProductName     _merge
67          27  Escargots Nouveaux  Montceau        NaN         NaN  left_only

In [23]:
Prod_And_Supp_RightOnly = prod_and_sup_outer['_merge'] =='right_only'
prod_and_sup_outer[Prod_And_Supp_RightOnly]

    SupplierID CompanyName City  ProductID          ProductName      _merge
71           9         NaN  NaN       22.0  Gustaf's Knäckebröd  right_only
72           9         NaN  NaN       23.0             Tunnbröd  right_only
73          17         NaN  NaN       36.0          Inlagd Sill  right_only
74          17         NaN  NaN       37.0           Gravad lax  right_only
75          17         NaN  NaN       73.0           Röd Kaviar  right_only