In [7]:
import pandas as pd
import numpy as np

suppliers = pd.read_csv('./data/northwind-mongo-master/suppliers.csv',
                      usecols=['SupplierID','CompanyName','City'])
products = pd.read_csv('./data/northwind-mongo-master/products_del_2.csv',
                      usecols=['ProductID','ProductName','SupplierID'])

In [9]:
sup_prod = suppliers.merge(products,on=['SupplierID'],indicator=True)

In [12]:
print("Suppliers : ",len(suppliers),
     "\nProducts :", len(products),
     "\nsup_prod : ",len(sup_prod))

Suppliers :  29
Products : 68
sup_prod :  68

In [14]:
sup_prod_left = suppliers.merge(products,on=['SupplierID'],how='left',indicator=True)

In [15]:
print("Suppliers : ",len(suppliers),
     "\nProducts :", len(products),
     "\nsup_prod : ",len(sup_prod_left))

Suppliers :  29
Products : 68
sup_prod :  70

In [18]:
sup_prod_left[sup_prod_left["_merge"] == "left_only"]

,SupplierID,CompanyName,City,ProductID,ProductName,_merge
2,2,New Orleans Cajun Delights,New Orleans,NaN,NaN,left_only
67,27,Escargots Nouveaux,Montceau,NaN,NaN,left_only

In [19]:
sup_prod_right = products.merge(suppliers,on=['SupplierID'],how='right',indicator=True)

In [20]:
print("Suppliers : ",len(suppliers),
     "\nProducts :", len(products),
     "\nsup_prod : ",len(sup_prod_right))

Suppliers :  29
Products : 68
sup_prod :  70

In [ ]:
sup_prod_right[sup_prod_left["_merge"] == "left_only"]