In [43]:
import pandas as pd
import numpy as np
import openpyxl
mcdonalds = pd.read_csv('./data/mcdonalds.csv',
                       usecols=['Category','Item','Calories','TotalFat'])

In [44]:
excelWriter = pd.ExcelWriter('mcdonalds-excel5.xlsx')

In [45]:
mcdonalds.to_excel(excelWriter,sheet_name='Menu',index=False)

In [46]:
excelWriter.save()

C:\Users\mykas\AppData\Local\Temp\ipykernel_13924\2958467003.py:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  excelWriter.save()

In [47]:
imported1 = pd.read_excel('mcdonalds-excel5.xlsx',sheet_name='Menu')

In [48]:
imported1.head()

    Category                              Item  Calories  TotalFat
0  Breakfast                      Egg McMuffin       300      13.0
1  Breakfast                 Egg White Delight       250       8.0
2  Breakfast                  Sausage McMuffin       370      23.0
3  Breakfast         Sausage McMuffin with Egg       450      28.0
4  Breakfast  Sausage McMuffin with Egg Whites       400      23.0

In [49]:
imported1['Calories'] = imported1['Calories']/2

In [50]:
imported1

,Category,Item,Calories,TotalFat
0,Breakfast,Egg McMuffin,150.0,13.0
1,Breakfast,Egg White Delight,125.0,8.0
2,Breakfast,Sausage McMuffin,185.0,23.0
3,Breakfast,Sausage McMuffin with Egg,225.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,200.0,23.0
...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),255.0,17.0
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),345.0,23.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),170.0,11.0
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),405.0,32.0
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),205.0,16.0

In [51]:
imported2 = imported1.copy()

In [52]:
imported2

,Category,Item,Calories,TotalFat
0,Breakfast,Egg McMuffin,150.0,13.0
1,Breakfast,Egg White Delight,125.0,8.0
2,Breakfast,Sausage McMuffin,185.0,23.0
3,Breakfast,Sausage McMuffin with Egg,225.0,28.0
4,Breakfast,Sausage McMuffin with Egg Whites,200.0,23.0
...,...,...,...,...
255,Smoothies & Shakes,McFlurry with Oreo Cookies (Small),255.0,17.0
256,Smoothies & Shakes,McFlurry with Oreo Cookies (Medium),345.0,23.0
257,Smoothies & Shakes,McFlurry with Oreo Cookies (Snack),170.0,11.0
258,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Medium),405.0,32.0
259,Smoothies & Shakes,McFlurry with Reese's Peanut Butter Cups (Snack),205.0,16.0

In [53]:
imported2['Calories'] = imported2['Calories']/2

In [54]:
with pd.ExcelWriter('mcdonalds-excel5.xlsx') as writer:
   # mcdonalds.to_excel(writer, sheet_name='Menu')
    imported1.to_excel(writer, sheet_name='Menu Light')
    imported2.to_excel(writer, sheet_name='Menu Extra Light')

In [36]:
excelWriter.save()

C:\Users\mykas\AppData\Local\Temp\ipykernel_13924\2958467003.py:1: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  excelWriter.save()

In [37]:
final = pd.read_excel('mcdonalds-excel3.xlsx', sheet_name=[0,1,2])

In [38]:
len(final)

3

In [39]:
final[0].head(3)

   Unnamed: 0   Category               Item  Calories  TotalFat
0           0  Breakfast       Egg McMuffin       300      13.0
1           1  Breakfast  Egg White Delight       250       8.0
2           2  Breakfast   Sausage McMuffin       370      23.0

In [40]:
final[1].head(3)

   Unnamed: 0   Category               Item  Calories  TotalFat
0           0  Breakfast       Egg McMuffin     150.0      13.0
1           1  Breakfast  Egg White Delight     125.0       8.0
2           2  Breakfast   Sausage McMuffin     185.0      23.0

In [41]:
final[2].head(3)

   Unnamed: 0   Category               Item  Calories  TotalFat
0           0  Breakfast       Egg McMuffin      75.0      13.0
1           1  Breakfast  Egg White Delight      62.5       8.0
2           2  Breakfast   Sausage McMuffin      92.5      23.0