In [1]:
import pandas as pd

In [2]:
fortune500 = pd.read_csv('./data/Fortune_500_2017.csv',usecols=['Rank','Title'],index_col=['Rank'])
fortune500.head()

                   Title
Rank
1                Walmart
2     Berkshire Hathaway
3                  Apple
4            Exxon Mobil
5               McKesson

In [3]:
fortune500

                   Title
Rank
1                Walmart
2     Berkshire Hathaway
3                  Apple
4            Exxon Mobil
5               McKesson
...                  ...
496        Michaels Cos.
497        Toll Brothers
498                Yahoo
499        Vistra Energy
500       ABM Industries

[500 rows x 1 columns]

In [4]:
fortune500.head(10)

                   Title
Rank
1                Walmart
2     Berkshire Hathaway
3                  Apple
4            Exxon Mobil
5               McKesson
6     UnitedHealth Group
7             CVS Health
8         General Motors
9                   AT&T
10            Ford Motor

In [5]:
fortune500.tail(20)

                                   Title
Rank
481          Booz Allen Hamilton Holding
482                             Chemours
483   Western & Southern Financial Group
484                             Celanese
485                  Windstream Holdings
486                             Seaboard
487                            Essendant
488                               Apache
489                               Airgas
490                       Kelly Services
491                        Liberty Media
492                     Rockwell Collins
493            Robert Half International
494                            CH2M Hill
495                             Big Lots
496                        Michaels Cos.
497                        Toll Brothers
498                                Yahoo
499                        Vistra Energy
500                       ABM Industries

In [11]:
fortune500= pd.read_csv('./data/Fortune_500_2017.csv',usecols=['Title','Employees'],index_col=['Title']).squeeze()
fortune500

Title
Walmart               2300000
Berkshire Hathaway     367700
Apple                  116000
Exxon Mobil             72700
McKesson                68000
                       ...
Michaels Cos.           31000
Toll Brothers            4200
Yahoo                    8500
Vistra Energy            4431
ABM Industries         110000
Name: Employees, Length: 500, dtype: int64

In [12]:
type(fortune500)

pandas.core.series.Series

In [19]:
fortune500['IBM']

414400

In [20]:
fortune500['Alphabet']

72053

In [21]:
fortune500['Facebook']

17048

In [22]:
fortune500['Apple']

116000

In [26]:
fortune500.iloc['IBM']

TypeError: Cannot index by location index with a non-integer key