In [1]:
import pandas as pd
import random as rd

In [4]:
planes = {'PYT001': 'Airbus 320', 'PYT002': 'Boeing 737', 'PYT003': 'Airbus 321'}
planes

{'PYT001': 'Airbus 320', 'PYT002': 'Boeing 737', 'PYT003': 'Airbus 321'}

In [8]:
aircrafts = pd.Series(planes)

In [9]:
type(aircrafts)

pandas.core.series.Series

In [10]:
flightsList=[]
for i in range(100):
    flightsList.append(rd.choice(aircrafts.index))
flightsList[:5]

['PYT002', 'PYT002', 'PYT002', 'PYT002', 'PYT001']

In [12]:
flights = pd.Series(flightsList)
flights.head()

0    PYT002
1    PYT002
2    PYT002
3    PYT002
4    PYT001
dtype: object

In [14]:
flights_aircrafts = flights.map(planes)
flights_aircrafts.head()

0    Boeing 737
1    Boeing 737
2    Boeing 737
3    Boeing 737
4    Airbus 320
dtype: object