In [1]:
import pandas as pd
import numpy as np

In [2]:
animals = pd.read_csv('./data/sleep_time.csv',index_col='ID').fillna(0)
animals.head()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,0.0,0.000000,11.9,0.00000,50.000
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000

In [4]:
herbi = animals.where(animals['vore'] == 'herbi')
herbi

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.000,1.35
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.423,600.00
...,...,...,...,...,...,...,...,...,...,...,...
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
herbi.dropna()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.42300,600.000
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.00000,3.850
10,Roe deer,Capreolus,herbi,Artiodactyla,lc,3.0,0.0,0.000000,21.0,0.09820,14.800
11,Goat,Capri,herbi,Artiodactyla,lc,5.3,0.6,0.000000,18.7,0.11500,33.500
12,Guinea pig,Cavis,herbi,Rodentia,domesticated,9.4,0.8,0.216667,14.6,0.00550,0.728
14,Chinchilla,Chinchilla,herbi,Rodentia,domesticated,12.5,1.5,0.116667,11.5,0.00640,0.420
19,Tree hyrax,Dendrohyrax,herbi,Hyracoidea,lc,5.3,0.5,0.000000,18.7,0.01230,2.950
21,Asian elephant,Elephas,herbi,Proboscidea,en,3.9,0.0,0.000000,20.1,4.60300,2547.000
23,Horse,Equus,herbi,Perissodactyla,domesticated,2.9,0.6,1.000000,21.1,0.65500,521.000
24,Donkey,Equus,herbi,Perissodactyla,domesticated,3.1,0.4,0.000000,20.9,0.41900,187.000
27,Western american chipmunk,Eutamias,herbi,Rodentia,0,14.9,0.0,0.000000,9.1,0.00000,0.071
30,Giraffe,Giraffa,herbi,Artiodactyla,cd,1.9,0.4,0.000000,22.1,0.00000,899.995
33,Gray hyrax,Heterohyrax,herbi,Hyracoidea,lc,6.3,0.6,0.000000,17.7,0.01227,2.625
35,Mongoose lemur,Lemur,herbi,Primates,vu,9.5,0.9,0.000000,14.5,0.00000,1.670
36,African elephant,Loxodonta,herbi,Proboscidea,vu,3.3,0.0,0.000000,20.7,5.71200,6654.000
39,Mongolian gerbil,Meriones,herbi,Rodentia,lc,14.2,1.9,0.000000,9.8,0.00000,0.053
40,Golden hamster,Mesocricetus,herbi,Rodentia,en,14.3,3.1,0.200000,9.7,0.00100,0.120
41,Vole,Microtus,herbi,Rodentia,0,12.8,0.0,0.000000,11.2,0.00000,0.035
42,House mouse,Mus,herbi,Rodentia,nt,12.5,1.4,0.183333,11.5,0.00040,0.022
44,Round-tailed muskrat,Neofiber,herbi,Rodentia,nt,14.6,0.0,0.000000,9.4,0.00000,0.266
46,Degu,Octodon,herbi,Rodentia,lc,7.7,0.9,0.000000,16.3,0.00000,0.210
48,Rabbit,Oryctolagus,herbi,Lagomorpha,domesticated,8.4,0.9,0.416667,15.6,0.01210,2.500
49,Sheep,Ovis,herbi,Artiodactyla,domesticated,3.8,0.6,0.000000,20.2,0.17500,55.500
61,Potoroo,Potorous,herbi,Diprotodontia,0,11.1,1.5,0.000000,12.9,0.00000,1.100
64,Laboratory rat,Rattus,herbi,Rodentia,lc,13.0,2.4,0.183333,11.0,0.00190,0.320
68,Cotton rat,Sigmodon,herbi,Rodentia,0,11.3,1.1,0.150000,12.7,0.00118,0.148
70,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,0.0,0.000000,7.4,0.00570,0.920
71,Thirteen-lined ground squirrel,Spermophilus,herbi,Rodentia,lc,13.8,3.4,0.216667,10.2,0.00400,0.101
72,Golden-mantled ground squirrel,Spermophilus,herbi,Rodentia,lc,15.9,3.0,0.000000,8.1,0.00000,0.205
76,Eastern american chipmunk,Tamias,herbi,Rodentia,0,15.8,0.0,0.000000,8.2,0.00000,0.112
77,Brazilian tapir,Tapirus,herbi,Perissodactyla,vu,4.4,1.0,0.900000,19.6,0.16900,207.501

In [6]:
herbi

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.000,1.35
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Cow,Bos,herbi,Artiodactyla,domesticated,4.0,0.7,0.666667,20.0,0.423,600.00
...,...,...,...,...,...,...,...,...,...,...,...
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
herbi.dropna().info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32 entries, 3 to 77
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          32 non-null     object
 1   genus         32 non-null     object
 2   vore          32 non-null     object
 3   order         32 non-null     object
 4   conservation  32 non-null     object
 5   sleep_total   32 non-null     float64
 6   sleep_rem     32 non-null     float64
 7   sleep_cycle   32 non-null     float64
 8   awake         32 non-null     float64
 9   brainwt       32 non-null     float64
 10  bodywt        32 non-null     float64
dtypes: float64(6), object(5)
memory usage: 3.0+ KB

In [9]:
carni = animals.where(animals['vore'] == 'carni')

In [10]:
carni

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,0.0,0.00,11.9,0.0000,50.00
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,Bottle-nosed dolphin,Tursiops,carni,Cetacea,0,5.2,0.0,0.00,18.8,0.0000,173.33
81,Genet,Genetta,carni,Carnivora,0,6.3,1.3,0.00,17.7,0.0175,2.00
82,Arctic fox,Vulpes,carni,Carnivora,0,12.5,0.0,0.00,11.5,0.0445,3.38
83,Red fox,Vulpes,carni,Carnivora,0,9.8,2.4,0.35,14.2,0.0504,4.23

In [11]:
carni.dropna()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,Cheetah,Acinonyx,carni,Carnivora,lc,12.1,0.0,0.000000,11.90,0.0000,50.000
7,Northern fur seal,Callorhinus,carni,Carnivora,vu,8.7,1.4,0.383333,15.30,0.0000,20.490
9,Dog,Canis,carni,Carnivora,domesticated,10.1,2.9,0.333333,13.90,0.0700,14.000
18,Long-nosed armadillo,Dasypus,carni,Cingulata,lc,17.4,3.1,0.383333,6.60,0.0108,3.500
28,Domestic cat,Felis,carni,Carnivora,domesticated,12.5,3.2,0.416667,11.50,0.0256,3.300
31,Pilot whale,Globicephalus,carni,Cetacea,cd,2.7,0.1,0.000000,21.35,0.0000,800.000
32,Gray seal,Haliochoerus,carni,Carnivora,lc,6.2,1.5,0.000000,17.80,0.3250,85.000
37,Thick-tailed opposum,Lutreolina,carni,Didelphimorphia,lc,19.4,6.6,0.000000,4.60,0.0000,0.370
45,Slow loris,Nyctibeus,carni,Primates,0,11.0,0.0,0.000000,13.00,0.0125,1.400
47,Northern grasshopper mouse,Onychomys,carni,Rodentia,lc,14.5,0.0,0.000000,9.50,0.0000,0.028
51,Tiger,Panthera,carni,Carnivora,en,15.8,0.0,0.000000,8.20,0.0000,162.564
52,Jaguar,Panthera,carni,Carnivora,nt,10.4,0.0,0.000000,13.60,0.1570,100.000
53,Lion,Panthera,carni,Carnivora,vu,13.5,0.0,0.000000,10.50,0.0000,161.499
59,Caspian seal,Phoca,carni,Carnivora,vu,3.5,0.4,0.000000,20.50,0.0000,86.000
60,Common porpoise,Phocoena,carni,Cetacea,vu,5.6,0.0,0.000000,18.45,0.0000,53.180
80,Bottle-nosed dolphin,Tursiops,carni,Cetacea,0,5.2,0.0,0.000000,18.80,0.0000,173.330
81,Genet,Genetta,carni,Carnivora,0,6.3,1.3,0.000000,17.70,0.0175,2.000
82,Arctic fox,Vulpes,carni,Carnivora,0,12.5,0.0,0.000000,11.50,0.0445,3.380
83,Red fox,Vulpes,carni,Carnivora,0,9.8,2.4,0.350000,14.20,0.0504,4.230

In [12]:
omni = animals.where(animals['vore'] == 'omni')

In [13]:
omni

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
79,Tree shrew,Tupaia,omni,Scandentia,0,8.9,2.6,0.233333,15.1,0.00250,0.104
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
omni.dropna()

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
13,Grivet,Cercopithecus,omni,Primates,lc,10.0,0.7,0.000000,14.0,0.00000,4.750
15,Star-nosed mole,Condylura,omni,Soricomorpha,lc,10.3,2.2,0.000000,13.7,0.00100,0.060
16,African giant pouched rat,Cricetomys,omni,Rodentia,0,8.3,2.0,0.000000,15.7,0.00660,1.000
17,Lesser short-tailed shrew,Cryptotis,omni,Soricomorpha,lc,9.1,1.4,0.150000,14.9,0.00014,0.005
20,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.0,0.00630,1.700
25,European hedgehog,Erinaceus,omni,Erinaceomorpha,lc,10.1,3.5,0.283333,13.9,0.00350,0.770
26,Patas monkey,Erythrocebus,omni,Primates,lc,10.9,1.1,0.000000,13.1,0.11500,10.000
29,Galago,Galago,omni,Primates,0,9.8,1.1,0.550000,14.2,0.00500,0.200
34,Human,Homo,omni,Primates,0,8.0,1.9,1.500000,16.0,1.32000,62.000
38,Macaque,Macaca,omni,Primates,0,10.1,1.2,0.750000,13.9,0.17900,6.800
50,Chimpanzee,Pan,omni,Primates,0,9.7,1.4,1.416667,14.3,0.44000,52.200
54,Baboon,Papio,omni,Primates,0,9.4,1.0,0.666667,14.6,0.18000,25.235
56,Potto,Perodicticus,omni,Primates,lc,11.0,0.0,0.000000,13.0,0.00000,1.100
65,African striped mouse,Rhabdomys,omni,Rodentia,0,8.7,0.0,0.000000,15.3,0.00000,0.044
66,Squirrel monkey,Saimiri,omni,Primates,0,9.6,1.4,0.000000,14.4,0.02000,0.743
74,Pig,Sus,omni,Artiodactyla,domesticated,9.1,2.4,0.500000,14.9,0.18000,86.250
78,Tenrec,Tenrec,omni,Afrosoricida,0,15.6,2.3,0.000000,8.4,0.00260,0.900
79,Tree shrew,Tupaia,omni,Scandentia,0,8.9,2.6,0.233333,15.1,0.00250,0.104

In [18]:
herbi['sleep_total'].mean()

9.509374999999999

In [19]:
carni['sleep_total'].mean()

10.378947368421052

In [20]:
omni['sleep_total'].mean()

10.925

In [21]:
animals.query('sleep_total > 14')

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
2,Owl monkey,Aotus,omni,Primates,0,17.0,1.8,0.000000,7.0,0.01550,0.480
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.00000,1.350
4,Greater short-tailed shrew,Blarina,omni,Soricomorpha,lc,14.9,2.3,0.133333,9.1,0.00029,0.019
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.00000,3.850
18,Long-nosed armadillo,Dasypus,carni,Cingulata,lc,17.4,3.1,0.383333,6.6,0.01080,3.500
20,North American Opossum,Didelphis,omni,Didelphimorphia,lc,18.0,4.9,0.333333,6.0,0.00630,1.700
22,Big brown bat,Eptesicus,insecti,Chiroptera,lc,19.7,3.9,0.116667,4.3,0.00030,0.023
27,Western american chipmunk,Eutamias,herbi,Rodentia,0,14.9,0.0,0.000000,9.1,0.00000,0.071
37,Thick-tailed opposum,Lutreolina,carni,Didelphimorphia,lc,19.4,6.6,0.000000,4.6,0.00000,0.370
39,Mongolian gerbil,Meriones,herbi,Rodentia,lc,14.2,1.9,0.000000,9.8,0.00000,0.053
40,Golden hamster,Mesocricetus,herbi,Rodentia,en,14.3,3.1,0.200000,9.7,0.00100,0.120
43,Little brown bat,Myotis,insecti,Chiroptera,0,19.9,2.0,0.200000,4.1,0.00025,0.010
44,Round-tailed muskrat,Neofiber,herbi,Rodentia,nt,14.6,0.0,0.000000,9.4,0.00000,0.266
47,Northern grasshopper mouse,Onychomys,carni,Rodentia,lc,14.5,0.0,0.000000,9.5,0.00000,0.028
51,Tiger,Panthera,carni,Carnivora,en,15.8,0.0,0.000000,8.2,0.00000,162.564
62,Giant armadillo,Priodontes,insecti,Cingulata,en,18.1,6.1,0.000000,5.9,0.08100,60.000
70,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,0.0,0.000000,7.4,0.00570,0.920
72,Golden-mantled ground squirrel,Spermophilus,herbi,Rodentia,lc,15.9,3.0,0.000000,8.1,0.00000,0.205
76,Eastern american chipmunk,Tamias,herbi,Rodentia,0,15.8,0.0,0.000000,8.2,0.00000,0.112
78,Tenrec,Tenrec,omni,Afrosoricida,0,15.6,2.3,0.000000,8.4,0.00260,0.900

In [22]:
animals.query('sleep_total>14 and vore=="herbi"')

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
ID,,,,,,,,,,,
3,Mountain beaver,Aplodontia,herbi,Rodentia,nt,14.4,2.4,0.000000,9.6,0.0000,1.350
6,Three-toed sloth,Bradypus,herbi,Pilosa,0,14.4,2.2,0.766667,9.6,0.0000,3.850
27,Western american chipmunk,Eutamias,herbi,Rodentia,0,14.9,0.0,0.000000,9.1,0.0000,0.071
39,Mongolian gerbil,Meriones,herbi,Rodentia,lc,14.2,1.9,0.000000,9.8,0.0000,0.053
40,Golden hamster,Mesocricetus,herbi,Rodentia,en,14.3,3.1,0.200000,9.7,0.0010,0.120
44,Round-tailed muskrat,Neofiber,herbi,Rodentia,nt,14.6,0.0,0.000000,9.4,0.0000,0.266
70,Arctic ground squirrel,Spermophilus,herbi,Rodentia,lc,16.6,0.0,0.000000,7.4,0.0057,0.920
72,Golden-mantled ground squirrel,Spermophilus,herbi,Rodentia,lc,15.9,3.0,0.000000,8.1,0.0000,0.205
76,Eastern american chipmunk,Tamias,herbi,Rodentia,0,15.8,0.0,0.000000,8.2,0.0000,0.112