In [1]:
import pandas as pd
import numpy as np

In [2]:
surveys = pd.read_csv('./data/StackOverflowDeveloperSurvey2018.csv',usecols=['Country','Gender','OperatingSystem'],low_memory=False)
surveys.head()

          Country OperatingSystem Gender
0           Kenya     Linux-based   Male
1  United Kingdom     Linux-based   Male
2   United States             NaN    NaN
3   United States         Windows   Male
4    South Africa         Windows   Male

In [6]:
surveys['Country'].is_unique

False

In [12]:
surveys['Country'].unique()[:20]

array(['Kenya', 'United Kingdom', 'United States', 'South Africa',
       'Nigeria', 'India', 'Spain', 'Croatia', 'Netherlands', 'Israel',
       'Sweden', 'Chile', 'Australia', 'Greece', 'Poland', 'Belgium',
       'Argentina', 'Germany', 'Russian Federation', 'Indonesia'],
      dtype=object)

In [13]:
surveys['Country'].nunique()

183

In [17]:
len(surveys['Country'].unique())

184

In [28]:
duplicatesKeepFirst = surveys.duplicated(subset='Country')
duplicatesKeepFirst.head()

0    False
1    False
2    False
3     True
4    False
dtype: bool

In [30]:
surveys[~duplicatesKeepFirst].head()

          Country OperatingSystem  Gender
0           Kenya     Linux-based    Male
1  United Kingdom     Linux-based    Male
2   United States             NaN     NaN
4    South Africa         Windows    Male
7         Nigeria         Windows  Female

In [31]:
len(surveys[~duplicatesKeepFirst])

184

In [38]:
surveys.drop_duplicates(subset=['Country','OperatingSystem'])

                                  Country OperatingSystem Gender
0                                   Kenya     Linux-based   Male
1                          United Kingdom     Linux-based   Male
2                           United States             NaN    NaN
3                           United States         Windows   Male
4                            South Africa         Windows   Male
...                                   ...             ...    ...
97024                       CÃ´te d'Ivoire             NaN    NaN
97155  Micronesia, Federated States of...             NaN    NaN
97420                             Liberia             NaN    NaN
97726                                Fiji             NaN    NaN
98254                          Cape Verde             NaN    NaN

[669 rows x 3 columns]

In [37]:
surveys[~duplicateCountryAndOS]

                                  Country OperatingSystem Gender
0                                   Kenya     Linux-based   Male
1                          United Kingdom     Linux-based   Male
2                           United States             NaN    NaN
3                           United States         Windows   Male
4                            South Africa         Windows   Male
...                                   ...             ...    ...
97024                       CÃ´te d'Ivoire             NaN    NaN
97155  Micronesia, Federated States of...             NaN    NaN
97420                             Liberia             NaN    NaN
97726                                Fiji             NaN    NaN
98254                          Cape Verde             NaN    NaN

[669 rows x 3 columns]