In [1]:
import pandas as pd
import numpy as np

In [2]:
fb = pd.read_csv('./data/mrbean_facebook_statuses_with_nulls.csv')
fb.head()

,status_id,status_message,link_name,status_type,status_link,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,17774451468_10154154735571469,It's time for Mr Bean and Teddy to get ready f...,Mr Bean - Preparing To Go Camping,video,https://youtu.be/fgURU75gTMQ,2016-06-23 11:35:48,16570.0,223.0,338.0,16079,166,6,320,0,0
1,17774451468_10154146584106469,NaN,Timeline Photos,photo,https://www.facebook.com/MrBean/photos/a.10150...,2016-06-21 10:00:01,119886.0,2171.0,1657.0,114008,946,104,4795,16,17
2,17774451468_10154135502911469,NaN,Timeline Photos,photo,https://www.facebook.com/MrBean/photos/a.10150...,2016-06-19 10:00:01,NaN,2395.0,10050.0,218579,2988,188,13992,52,53
3,17774451468_10154138120151469,Mr Bean is ready to do some shopping but bewar...,www.youtube.com,video,https://www.youtube.com/watch?v=58Z8J0PbLS8,2016-06-18 11:00:02,20913.0,214.0,257.0,20338,211,20,336,0,8
4,17774451468_10154135502476469,NaN,Timeline Photos,photo,https://www.facebook.com/MrBean/photos/a.10150...,2016-06-17 09:00:01,223602.0,880.0,2228.0,215591,2872,259,4814,27,39

In [3]:
fb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         56 non-null     object
 1   status_message    40 non-null     object
 2   link_name         56 non-null     object
 3   status_type       56 non-null     object
 4   status_link       56 non-null     object
 5   status_published  56 non-null     object
 6   num_reactions     54 non-null     float64
 7   num_comments      55 non-null     float64
 8   num_shares        56 non-null     float64
 9   num_likes         56 non-null     int64
 10  num_loves         56 non-null     int64
 11  num_wows          56 non-null     int64
 12  num_hahas         56 non-null     int64
 13  num_sads          56 non-null     int64
 14  num_angrys        56 non-null     int64
dtypes: float64(3), int64(6), object(6)
memory usage: 6.7+ KB

In [28]:
fb = pd.read_csv('./data/mrbean_facebook_statuses_with_nulls.csv',
                usecols=['status_message','status_type','link_name',
                         'num_reactions','num_shares','num_likes'])
fb.head()

,status_message,link_name,status_type,num_reactions,num_shares,num_likes
0,It's time for Mr Bean and Teddy to get ready f...,Mr Bean - Preparing To Go Camping,video,16570.0,338.0,16079
1,NaN,Timeline Photos,photo,119886.0,1657.0,114008
2,NaN,Timeline Photos,photo,NaN,10050.0,218579
3,Mr Bean is ready to do some shopping but bewar...,www.youtube.com,video,20913.0,257.0,20338
4,NaN,Timeline Photos,photo,223602.0,2228.0,215591

In [29]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     object
 2   status_type     56 non-null     object
 3   num_reactions   54 non-null     float64
 4   num_shares      56 non-null     float64
 5   num_likes       56 non-null     int64
dtypes: float64(2), int64(1), object(3)
memory usage: 16.1 KB

In [30]:
len(fb)

56

In [31]:
fb['status_type'].nunique()

3

In [32]:
fb['status_type'].value_counts()

video    32
photo    22
link      2
Name: status_type, dtype: int64

In [33]:
fb['status_type'] = fb['status_type'].astype('category')

In [34]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   status_message  40 non-null     object
 1   link_name       56 non-null     object
 2   status_type     56 non-null     category
 3   num_reactions   54 non-null     float64
 4   num_shares      56 non-null     float64
 5   num_likes       56 non-null     int64
dtypes: category(1), float64(2), int64(1), object(2)
memory usage: 13.0 KB

In [16]:
fb['link_name'].value_counts()

Timeline Photos                                                               22
www.youtube.com                                                                4
Mr. Bean - Sneezing and Snoozing In Church                                     1
Mr. Bean - Mystery creature                                                    1
Mr. Bean - Saxophone Player                                                    1
Mr. Bean - Elderly people on stairs                                            1
Rowan Atkinson: I will never wave goodbye to Mr Bean                           1
Mr. Bean's Happy Moments                                                       1
Mr. Bean - At the Disco                                                        1
Mr Bean - Preparing To Go Camping                                              1
Mr. Bean - Shopping for Towels                                                 1
Mr. Bean - Counting Sheep.                                                     1
Mr. Bean - High Dive                                                           1
Mr. Bean (NEW series) - The Lift                                               1
Mr Bean - Country fete games -- Volksfest Spiele                               1
Even in LEGO, Mr. Bean travels in comfort | The Brothers Brick | LEGO Blog     1
Mr. Bean - Making A Sandwich                                                   1
Mr. Bean (NEW series) - Ice Cream                                              1
Mr Bean - Crazy Golf                                                           1
Mr. Bean - Fixing Your Own Teeth                                               1
Mr Bean - Restaurant Etiquette                                                 1
Mr Bean (NEW series) - Litterbugs Clip                                         1
Mr. Bean - Alarm Clock                                                         1
Mr. Bean (NEW Series) - Dancing Bean                                           1
Mr. Bean - Embarrassing Moments Compilation                                    1
Mr. Bean - How to stop a baby from crying                                      1
Mr Bean - Dinner for Two                                                       1
Mr Bean - Chemistry experiment                                                 1
Mr Bean - Sun Block                                                            1
Mr Bean - Ray Of Sunshine                                                      1
Mr Bean - Broken Tooth                                                         1
Mr Bean - Prison Break                                                         1
Name: link_name, dtype: int64

In [17]:
fb['link_name'] = fb['link_name'].astype('category')

In [19]:
fb['link_name'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 56 entries, 0 to 55
Series name: link_name
Non-Null Count  Dtype
--------------  -----
56 non-null     category
dtypes: category(1)
memory usage: 1.5 KB

In [21]:
fb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         56 non-null     object
 1   status_message    40 non-null     object
 2   link_name         56 non-null     category
 3   status_type       56 non-null     category
 4   status_link       56 non-null     object
 5   status_published  56 non-null     object
 6   num_reactions     54 non-null     float64
 7   num_comments      55 non-null     float64
 8   num_shares        56 non-null     float64
 9   num_likes         56 non-null     int64
 10  num_loves         56 non-null     int64
 11  num_wows          56 non-null     int64
 12  num_hahas         56 non-null     int64
 13  num_sads          56 non-null     int64
 14  num_angrys        56 non-null     int64
dtypes: category(2), float64(3), int64(6), object(4)
memory usage: 7.3+ KB

In [22]:
fb['num_reactions'].fillna(0,inplace=True)
fb['num_shares'].fillna(0,inplace=True)

In [23]:
fb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         56 non-null     object
 1   status_message    40 non-null     object
 2   link_name         56 non-null     category
 3   status_type       56 non-null     category
 4   status_link       56 non-null     object
 5   status_published  56 non-null     object
 6   num_reactions     56 non-null     float64
 7   num_comments      55 non-null     float64
 8   num_shares        56 non-null     float64
 9   num_likes         56 non-null     int64
 10  num_loves         56 non-null     int64
 11  num_wows          56 non-null     int64
 12  num_hahas         56 non-null     int64
 13  num_sads          56 non-null     int64
 14  num_angrys        56 non-null     int64
dtypes: category(2), float64(3), int64(6), object(4)
memory usage: 7.3+ KB

In [24]:
fb['num_reactions']

0      16570.0
1     119886.0
2          0.0
3      20913.0
4     223602.0
5      24742.0
6      21886.0
7      22015.0
8     196913.0
9     196366.0
10     30109.0
11    233121.0
12         0.0
13     19154.0
14    167980.0
15     12179.0
16     11419.0
17    272955.0
18     48030.0
19     58541.0
20     28539.0
21     22619.0
22    299330.0
23     34144.0
24     29631.0
25    305983.0
26    133245.0
27     25504.0
28    331512.0
29     39186.0
30     11564.0
31    470129.0
32     18682.0
33     24096.0
34     72606.0
35    136609.0
36     16370.0
37     17157.0
38     94598.0
39     15312.0
40     26237.0
41     98365.0
42    232440.0
43     16863.0
44    144332.0
45    282389.0
46     19254.0
47    325558.0
48     29120.0
49     19725.0
50     25261.0
51    285043.0
52     18379.0
53     30285.0
54     31377.0
55     22559.0
Name: num_reactions, dtype: float64

In [25]:
fb['num_reactions'] = fb['num_reactions'].astype('int')
fb['num_shares'] = fb['num_shares'].astype('int')

In [27]:
fb.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         56 non-null     object
 1   status_message    40 non-null     object
 2   link_name         56 non-null     category
 3   status_type       56 non-null     category
 4   status_link       56 non-null     object
 5   status_published  56 non-null     object
 6   num_reactions     56 non-null     int32
 7   num_comments      55 non-null     float64
 8   num_shares        56 non-null     int32
 9   num_likes         56 non-null     int64
 10  num_loves         56 non-null     int64
 11  num_wows          56 non-null     int64
 12  num_hahas         56 non-null     int64
 13  num_sads          56 non-null     int64
 14  num_angrys        56 non-null     int64
dtypes: category(2), float64(1), int32(2), int64(6), object(4)
memory usage: 30.3 KB